/assets/borderlands
/assets/icecreamcreepers
/assets/testing
/assets/forge
/cpw
/ibxm
/net
/paulscode
*.lzma
*.cfg
fmlversion.properties
forge_logo.png
mcpmod.info
Start.java
*.class
*.jar
ICSCreeperMod.properties
BorderlandsMod.properties